<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <Map @ref="Map" Style="height:500px" />
        </div>
        <div class="col-xs-12 col-md-6 card" style="height:500px">
            <pre><small>@Code</small></pre>
        </div>
    </div>
</div>

@code {
    public Map? Map { get; private set; }

    [Parameter]
    public string? Code { get; set; }
}
