<div
    class="map"
    style=@Style
    <SKGLView
        id="@_id"
        class="mapCanvas"
        @ref="_view"
        OnPaintSurface="OnPaintSurface"
        IgnorePixelScaling="true"
        EnableRenderLoop="true"
        @onpointerdown="OnPointerDown"
        @onpointerup="OnPointerUp"
        @onpointermove="OnPointerMove"
        @onpointerleave="OnPointerUp"
        @onwheel="OnMouseWheel"
        @onclick="OnClick"
        @ondblclick="OnDoubleClick"
        @oncontextmenu="OnContextMenu"
        />

        <!--
    @onmousedown="OnMouseDown"
    @onmouseup="OnMouseUp"
    @onmousemove="OnMouseMove"
        -->

        <!-- @onwheel:preventDefault="true"-->
</div>
