@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<div
    class="map"
    style=@Style
>
    <SKGLView
        id="@_id"
        class="mapCanvas"
        @ref="_view"
        OnPaintSurface="OnPaintSurface"
        EnableRenderLoop="true"
        @onmousedown="OnMouseDown"
        @onmouseup="OnMouseUp"
        @onmousemove="OnMouseMove"
        @onmouseleave="OnMouseUp"
        @onwheel="OnMouseWheel"
        @onclick="OnClick"
        @ondblclick="OnDoubleClick"
        @oncontextmenu="OnContextMenu"
        @ontouchstart="OnTouchStart"
        @ontouchend="OnTouchEnd"
        @ontouchmove="OnTouchMove"
        />
</div>
